{{! This partial is based on the foundry settings partial}}
{{#*inline "settingPartial"}}
	<div class="form-group">
		<label>{{this.name}}</label>
		<div class="form-fields">
			{{#if this.isCheckbox}}
				<input type="checkbox" name="{{this.id}}" data-dtype="Boolean" {{checked this.value}} />
			{{else if this.isSelect}}
				<select name="{{this.id}}">
					{{#select this.value}}
						{{#each this.choices as |name k|}}
							<option value="{{k}}">{{localize name}}</option>
						{{/each}}
					{{/select}}
				</select>
			{{else if this.isRange}}
				<input type="range" name="{{this.id}}" data-dtype="Number" value="{{ this.value }}"
					min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}" />
				<span class="range-value">{{this.value}}</span>
			{{else if this.isColor}}
				<input type="color" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}" />
			{{else}}
				<input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}" />
			{{/if}}
		</div>
		<p class="notes">{{this.hint}}</p>
	</div>
{{/inline}}



<form class="flexcol" autocomplete="off">
	<section class="content">
		<div class="settings-list">
			<h2 class="module-header">{{localize "drag-ruler-modern.settings.speedProviderSettings.headers.speedProvider"}}</h2>
			{{#if this.isGM}}
				{{#with this.providerSelection}}
					{{> settingPartial}}
				{{/with}}
			{{else}}
				<div class="form-group"><label>{{localize "drag-ruler-modern.settings.speedProviderSettings.activeProvider.name"}}</label><div class="form-fields" style="justify-content: flex-start;"><b>{{this.selectedProviderName}}</b></div></div>
				<p class="notes">{{localize "drag-ruler-modern.settings.speedProviderSettings.activeProvider.hint"}}</p>
			{{/if}}
			<h2 class="module-header">{{localize "drag-ruler-modern.settings.speedProviderSettings.headers.speedProviderSettings"}}</h2>
			{{#each this.providers}}
				<div class="drag-ruler-modern-provider-settings" id="drag-ruler-modern.provider.{{this.id}}" {{#unless this.isSelected}}style="display:none"{{/unless}}>
					{{#if this.hasSettings}}
						{{#each settings}}
							{{> settingPartial}}
						{{/each}}
					{{else}}
						<p>{{localize "drag-ruler-modern.settings.speedProviderSettings.noSettings"}}</p>
					{{/if}}
				</div>
			{{/each}}
			
			<h2 class="module-header">{{localize "drag-ruler-modern.settings.speedProviderSettings.movementTypes.header"}}</h2>
			<p class="notes">{{localize "drag-ruler-modern.settings.speedProviderSettings.movementTypes.hint"}}</p>
			<table style="width: 100%; margin-bottom: 1em;">
				<thead>
					<tr>
						<th>{{localize "drag-ruler-modern.settings.speedProviderSettings.movementTypes.type"}}</th>
						<th style="text-align: center;">{{localize "drag-ruler-modern.settings.speedProviderSettings.movementTypes.enabled"}}</th>
						<th>{{localize "drag-ruler-modern.settings.speedProviderSettings.movementTypes.attribute"}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each this.movementTypes}}
					<tr>
						<td><label for="{{key}}.enabled">{{name}}</label></td>
						<td style="text-align: center;"><input type="checkbox" name="{{key}}.enabled" {{checked enabled}}/></td>
						<td><input type="text" name="{{key}}.attribute" value="{{attribute}}" placeholder="actor.system.attributes.movement.{{key}}" style="width: 100%;"/></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
</form>
